// sass --watch scss/styles.scss:dist/styles/styles.css

@import 'normalize';
@import 'variables';

body {
	display: flex;
	flex-direction: column;
	font-family: $primary-font;
	box-sizing: border-box;

	#header {
		display: flex;
		padding: 6px 10px;
		max-width: 100%;

		.header-items {
			display: flex;
			width: 100%;
			align-items: center;
			text-align: center;
			justify-content: space-between;

			.logo {
				margin: 0 10px;

				img {
					height: 50px;
				}
			}

			.menu {
				.menu-items {
					display: flex;
					list-style-type: none;

					a {
						color: $primary-green;
						font-size: 1.2rem;
						font-weight: bold;
						margin: 10px;
						text-decoration: none;
					}
				}
			}
		}
	}

	.hero-section {
		position: relative;
		height: 93vh;

		.overlay {
			height: 100%;
			.image {
				background-image: url('../images/hero-section.jpg');
				background-repeat: no-repeat;
				background-size: cover;
				height: 100%;
			}
		}

		.overlay:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.8);
			z-index: 1;
			height: 100%;
		}

		img {
			width: 100%;
		}

		.hero-section-content {
			width: 90%;

			h1 {
				color: $primary-green;
				font-size: 5rem;
			}

			h3 {
				color: #fff;
				font-size: 2rem;
				font-weight: 500;
			}

			text-align: center;
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;

			button {
				font-size: 1.4rem;
				background-color: $primary-green;
				padding: 15px 25px;
				border-radius: 5px;
				margin-top: 30px;
				border: none;
				color: #fff;
				text-decoration: none;
				cursor: pointer;

				&:hover {
					background-color: #007c29;
				}
			}
		}
	}
}
